<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wyx.isisystem.dao.CheckRecordDao">

    <insert id="insertCheckRecord" parameterType="com.wyx.isisystem.entity.CheckRecord" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO check_info(project_id, staff_id, check_system_first_level, check_system_second_level, check_risk_level,
        check_picture_url, check_description, check_state)
        VALUE (#{projectId}, #{staffId}, #{firstId}, #{secondId}, #{riskLevel}, #{pictureUrl}, #{description}, #{checkState})
    </insert>

    <select id="queryCheckRecordByStaffAndProject" resultType="com.wyx.isisystem.entity.CheckRecord">
        SELECT check_id AS id, project_id AS projectId, staff_id AS staffId, check_system_first_level AS firstId, check_system_second_level AS secondId,
        check_risk_level AS riskLevel, check_picture_url AS pictureUrl, check_description AS description, check_time AS checkTime, check_state AS checkState
        FROM check_info
        WHERE project_id = #{projectId}, staff_id = #{staffId}
    </select>

    <select id="queryCheckRecordByProject" resultType="com.wyx.isisystem.entity.CheckRecord">
        SELECT check_id AS id, project_id AS projectId, staff_id AS staffId, check_system_first_level AS firstId, check_system_second_level AS secondId,
        check_risk_level AS riskLevel, check_picture_url AS pictureUrl, check_description AS description, check_time AS checkTime, check_state AS checkState
        FROM check_info
        WHERE project_id = #{projectId}
    </select>

    <update id="updateCheckRecordState">
        UPDATE check_info
        SET check_state = #{state}
        WHERE check_id = #{checkRecordId}
    </update>


</mapper>