<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wyx.isisystem.dao.ClientDao">

    <select id="queryAllClient" resultType="com.wyx.isisystem.entity.Client">
        SELECT client_id AS id, client_name AS name
        FROM client_info
    </select>

    <insert id="insertClient" parameterType="com.wyx.isisystem.entity.Client" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO client_info(client_name, client_description)
        VALUE (#{name}, #{description})
    </insert>



</mapper>