<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wyx.isisystem.dao.ProjectDao">

    <insert id="insertProject" parameterType="com.wyx.isisystem.entity.Project">
        <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
            SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT INTO project_info(project_name, project_description, project_owner, project_owner_phone, project_state, project_risk_value, check_group_id)
        VALUE (#{name}, #{description}, #{owner}, #{ownerPhone}, #{state}, #{riskValue}, #{groupId})
    </insert>

    <select id="queryProject" resultType="com.wyx.isisystem.entity.Project">
        SELECT project_name AS name, project_description AS description, project_owner AS owner, project_owner_phone AS ownerPhone,
               project_state AS state, project_risk_value AS riskValue, project_create_time AS createTime, check_group_id AS groupId
        FROM project_info
        WHERE project_id = #{id}
    </select>

    <update id="updateProject">
        UPDATE project_info
        SET project_name = #{name}, project_description = #{description}, project_owner = #{owner}, project_owner_phone = #{ownerPhone}, check_group_id = #{groupId}
        WHERE project_id = #{id}
    </update>

    <delete id="deleteProject">
        DELETE FROM project_info
        WHERE project_id = #{id}
    </delete>

    <update id="updateProjectState">
        UPDATE project_info
        SET project_state = #{state}
        WHERE project_id = #{id}
    </update>

    <select id="queryProjectState" resultType="java.lang.Integer">
        SELECT project_state AS state
        FROM project_info
        WHERE project_id = #{id}
    </select>

    <select id="queryStateProjectCount" resultType="java.lang.Integer">
        SELECT COUNT(project_state)
        FROM project_info
        WHERE project_state = #{state}
    </select>

    <select id="queryAllProject" resultType="com.wyx.isisystem.entity.Project">
        SELECT project_name AS name, project_description AS description, project_owner AS owner, project_owner_phone AS ownerPhone,
               project_state AS state, project_risk_value AS riskValue, project_create_time AS createTime, check_group_id AS groupId
        FROM project_info
    </select>

</mapper>