<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wyx.isisystem.dao.StaffDao">

    <select id="queryFromLogin" resultType="com.wyx.isisystem.entity.Staff">
        SELECT user_id AS id
        FROM login_info
        WHERE user_id = #{id} AND user_password = #{password} AND user_type = #{type}
    </select>

    <insert id="insertStaffToLogin">
        INSERT INTO login_info(user_id, user_password, user_type)
        VALUE (#{id}, #{password}, #{type})
    </insert>

    <delete id="deleteStaffFromLogin">
        DELETE FROM login_info
        WHERE user_id = #{id} AND user_type = #{type}
    </delete>

    <update id="updateStaffFromLogin">
        UPDATE login_info
        SET user_password = #{password}
        WHERE user_id = #{id} AND user_type = #{type}
    </update>

    <select id="queryStaffInfo" resultType="com.wyx.isisystem.entity.Staff">
        SELECT staff_id AS id, staff_name AS name, staff_gender AS gender, staff_phone AS phone, staff_group_id AS groupId, staff_leader_flag AS leaderFlag
        FROM staff_info
        WHERE staff_id = #{id}
    </select>

    <insert id="insertStaff" parameterType="com.wyx.isisystem.entity.Staff" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO staff_info(staff_name, staff_gender, staff_phone)
        VALUE (#{name}, #{gender}, #{phone})
    </insert>

<!--    <insert id="insertStaffs" useGeneratedKeys="true" keyProperty="id">-->
<!--        INSERT INTO staff_info(staff_name, staff_gender, staff_phone)-->
<!--        VALUE-->
<!--        <foreach collection="list" index="index" item="item" separator=",">-->
<!--            (#{item.name}, #{item.gender}, #{item.phone})-->
<!--        </foreach>-->
<!--    </insert>-->

    <update id="updateStaffInfo">
        UPDATE staff_info
        SET staff_name = #{name}, staff_gender = #{gender}, staff_phone = #{phone}
        WHERE staff_id = #{id}
    </update>

    <delete id="deleteStaff">
        DELETE FROM staff_info
        WHERE staff_id = #{id}
    </delete>

</mapper>